@model IEnumerable<Source.Models.NHOM_THIETBI>

@{
    ViewBag.Title = "Index";
}
<main>
    <div class="container link">
        <p>Trang chủ > Danh mục > Nhóm thiết bị</p>
        <hr />
    </div>
    <section class="container" id="nhom-tb">
        <h1 class="title">NHÓM THIẾT BỊ</h1>
        <div class="div-nhom-tb">
            <div class="them-nhom-tb">
                <h4 class="sub-title">
                    Thêm nhóm thiết bị
                </h4>
                @using (Html.BeginForm("Create", "NhomThietBi", FormMethod.Post))
                {
                    @Html.AntiForgeryToken() @Html.ValidationSummary(true)
                    <form action="">
                        <div class="form-group">
                            <label for="">Mã NTB:</label>
                            <input type="text"
                                   name="MA_NHOMTB"
                                   aria-describedby="emailHelp"
                                   placeholder="" />
                            
                        </div>
                        <p>@Html.ValidationSummary(false, "", new { @class = "thong-bao" })</p>
                        <div class="form-group">
                            <label for="">Tên NTB:</label>
                            <input name="TEN_NHOM"
                                   aria-describedby="emailHelp"
                                   placeholder="" />
                        </div>
                        <div class="form-group">
                            <label for="nhom-tb">Ghi chú:</label>
                            <textarea name="GHI_CHU"
                                      aria-describedby="emailHelp"
                                      placeholder=""></textarea>
                        </div>
                        <button type="submit" value="Create" class="them">THÊM</button>
                    </form>
                }
            </div>
            <div class="ds-ntb">
                <h4 class="sub-title">
                    Danh sách nhóm thiết bị
                </h4>
                <table id="customers">
                    <tr>
                        <th>Mã nhóm TB</th>
                        <th>Tên nhóm TB</th>
                        <th>Ghi chú</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MA_NHOMTB)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TEN_NHOM)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GHI_CHU)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </section>
</main>