@model IEnumerable<Source.Models.NHAP_KHO>

@{
    ViewBag.Title = "Index";
}

    <main>
        <div class="container link">
            <p>Trang chủ > Chức năng > Nhập kho</p>
            <hr />
        </div>
        @using (Html.BeginForm("Create", "NhapKho", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
        <section class="container" id="nhap-kho">
            <h1 class="title">NHẬP KHO</h1>
            <div class="form-nhap-kho">
                <div class="them-hinh-anh">
                    <h4 class="sub-title">
                        Thêm hình ảnh
                    </h4>
                    <div class="img-container">
                        <img src="" alt="" />
                    </div>
                    <input type="file" name="HINH_ANH" />
                </div>
                <div class="thong-tin-chung">
                    <h4 class="sub-title">
                        Thông tin chung
                    </h4>
                    <div class="form-group">
                        <label for="">Nhóm thiết bị: </label>
                        @Html.DropDownList("MA_NHOMTB", null, String.Empty, new { @class = "form-control", @placeholder = "", @onchange = "Fill_LoaiTB()" })
                    </div>
                    <div class="form-group">
                        <label for="">Loại thiết bị: </label>
                        <select class="form-control" id="MA_LOAITB" name="MA_LOAITB"></select>
                    </div>
                    
                    <div class="form-group">
                        <label for="">Tên thiết bị:</label>
                        <input type="text" name="TENTB" />
                    </div>
                    <div class="form-group">
                        <label for="">Số serial:</label>
                        <input type="text" name="SO_SERIAL" />
                    </div>
                    <div class="form-group">
                        <label for="">Giá tiền:</label>
                        <input type="text" name="GIA_TIEN" />
                    </div>
                    <div class="form-group">
                        <label for="">THBH:</label>
                        <input type="text" name="THOI_HAN_BAO_HANH" />
                    </div>
                    <div class="form-group">
                        <label for="">Ngày mua:</label>
                        <input type="text" name="NGAY_GD" />
                    </div>
                                @*<div class="form-group">
                        <label for="">Ngày nhập:</label>
                        <input type="text" name="user-name" />
                    </div>*@
                    <div class="form-group">
                        <label for="">Đơn vị mua:</label>
                        @Html.DropDownList("MA_DON_VI", null, String.Empty, new { @class = "form-control", @placeholder = "" })
                    </div>
                    <div class="form-group">
                        <label for="">Nhà cung cấp:</label>
                        @Html.DropDownList("MA_NCC", null, String.Empty, new { @class = "form-control", @placeholder = "" })
                    </div>
                </div>
                <div class="thong-so-ky-thuat">
                    <h4 class="sub-title">
                        Thông số kỹ thuật
                    </h4>
                        <div class="form-group">
                            <label for="nhom-tb">CPU:</label>
                            @Html.DropDownList("CPU", null, String.Empty, new { @class = "form-control", @placeholder = "" })
                        </div>
                        <div class="form-group">
                            <label for="loai-tb">RAM:</label>
                            @Html.DropDownList("RAM", null, String.Empty, new { @class = "form-control", @placeholder = "" })
                        </div>
                        <div class="form-group">
                            <label for="">Ổ cứng:</label>
                            @Html.DropDownList("O_CUNG", null, String.Empty, new { @class = "form-control", @placeholder = "" })
                        </div>
                        <div class="form-group">
                            <label for="">Màn hình:</label>
                            @Html.DropDownList("MAN_HINH", null, String.Empty, new { @class = "form-control", @placeholder = "" })
                        </div>
                        <div class="form-group">
                            <label for="">Card màn hình:</label>
                            @Html.DropDownList("VGA", null, String.Empty, new { @class = "form-control", @placeholder = "" })
                        </div>
                        <div class="form-group">
                            <label for="">Hệ điều hành:</label>
                            @Html.DropDownList("HDH", null, String.Empty, new { @class = "form-control", @placeholder = "" })
                        </div>
                </div>
            </div>
            <div class="submit">
                <button class="luu" name="SAVE" value="save">LƯU</button>
                <button class="reset" name="REFESH" value="refesh">Làm mới</button>
            </div>
        </section>
        }
    </main>


<script src="~/Scripts/jquery-1.10.2.js"></script>

<script type="text/javascript">
    
</script>